<!DOCTYPE html>
<html>
<head>
  <title>80s Murder Mystery</title>
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
  <link href='https://fonts.googleapis.com/css?family=Press Start 2P' rel='stylesheet'>
</head>

<body>
    <div class="wrapper">

      <div class="heading_container">        
        <h1 class="dreams">80s Murder Mystery</h1>
      </div>
        <%- include ("../partials/story.ejs") %>
        <%- include ("../partials/invitation.ejs") %>
        
      <section class = "character_box_wrapper">
              <h2 class="yellow_font heading">The Characters</h2>
                    <div class="character_box">
                          <% results.forEach(function(r) { %>

                              <div class="character_card">
                                  <div class="card_inner">
                                          <div class="photo_box"> 
                                              <img src="/characters<%= r.imageurl %>">                    
                                          </div>
                                          <p class="character_description">
                                            <%= r.description%> 
                                          </p>
                                  </div>
                                  
                                  <div class="player_details">
                                    <% if (r.player == 'available') { %>
                                      <p>Player</p>

                                      <form action="/characters/<%= r.id %>" method="POST">
                                        <input type="hidden" name="_method" value="PUT">
                                        <input type="text" placeholder="Enter name" name="player"">  
                                        <button type="submit" id="submit-btn">Submit</button>      
                                    </form> 
                                      <p class="form_character"> is <%= r.character%></p>

                                      <%} else { %>
                                        <p class ="player_info">Player <span class="player_name"><%= r.player %></span> is <%= r.character%></p>
                                        
                                      <% } %>
                                  </div>


                              </div>
                        <% }); %>

                    </div> 
      </section>
    </div>
</body>
</html>
